{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost,1433;Database=moviereservation;User Id=sa;Password=;TrustServerCertificate=True"
  },
  "JwtSettings": {
    "SecretKey": ""
  },
  "Authentication": {
    "Google": {
      "ClientId": "",
      "ClientSecret": ""
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
